<body>
    <div id="wrapper">
        <% include ../partials/leftSideBar %>
        <div id="page-wrapper" class="gray-bg">
            <% include ../partials/header %>
        </div>
    </div>
</body>