<header>
    <div class="header">
        <a href="#default" class="logo">Web.Hacka</a>
        <div class="header-right">
            <!-- <a href="" class="active">Home</a> -->
            <div class="dropdown profile-element">
                <img alt="image" class="rounded-circle" style="margin-right: 10px; padding: 5px; background-color: #e8e8e8; background-size: cover; width: 40px; height: 40px;" src="images/legal-hammer.svg">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="block m-t-xs font-bold">David Williams</span>
                    <span style="color: #000000 !important;" class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                    <li><a class="dropdown-item" href="mailbox.html">Mailbox</a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="login.html">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>