<nav class="navbar-default navbar-static-side nav-jhon" role="navigation">
    <div style="background-color: #171f2a;" class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li style="color: #ffffff; font-size: 20px; font-weight: bold;" class="nav-header">
                Conversas
            </li>
            <% if (ativo == 'jurados') { %>
                <li class="active">
            <% } else { %>
                <li class="">
            <% } %>
                <a href="/jurados">
                    <img style="margin-right: 10px; padding: 5px; background-color: #e8e8e8; background-size: cover; width: 40px; height: 40px;" alt="image" class="rounded-circle" src="images/legal-hammer.svg">
                    <span class="nav-label">Jurados</span>
                    <span id="msgJurados" style="border-radius: 20px; margin-top: 11px;" class="label float-right">2</span>
                </a>
            </li>

            <% if (ativo == 'coordenadores') { %>
                <li class="active">
            <% } else { %>
                <li class="">
            <% } %>
                <a href="/coordenadores">
                    <img style="margin-right: 10px; padding: 5px; background-color: #e8e8e8; background-size: cover; width: 40px; height: 40px;" alt="image" class="rounded-circle" src="images/coordinating-people.svg">
                    <span class="nav-label">Coordenadores</span>
                    <span id="msgCoordenadores" style="display: none; border-radius: 20px; margin-top: 11px;" class="label float-right">2</span>
                </a>
            </li>
            <% if (ativo == 'mentores') { %>
                <li class="active">
            <% } else { %>
                <li class="">
            <% } %>
                <a href="/mentores">
                    <img style="margin-right: 10px; padding: 5px; background-color: #e8e8e8; background-size: cover; width: 40px; height: 40px;" alt="image" class="rounded-circle" src="images/classroom.svg">
                    <span class="nav-label">Mentores</span>
                    <span id="msgMentores" style="display: none; border-radius: 20px; margin-top: 11px;" class="label float-right">2</span>
                </a>
            </li>
            <% if (ativo == 'time') { %>
                <li class="active">
            <% } else { %>
                <li class="">
            <% } %>
                <a href="/time">
                    <img style="margin-right: 10px; padding: 5px; background-color: #e8e8e8; background-size: cover; width: 40px; height: 40px;" alt="image" class="rounded-circle" src="images/group.svg">
                    <span class="nav-label">Time 7</span>
                    <span id="msgTime" style="display: none; border-radius: 20px; margin-top: 11px;" class="label float-right">2</span>
                </a>
            </li>
            <!-- <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in" aria-expanded="true">
                    <li class="active"><a href="index.html">Jurados</a></li>
                    <li><a href="dashboard_2.html">Dashboard v.2</a></li>
                    <li><a href="dashboard_3.html">Dashboard v.3</a></li>
                    <li><a href="dashboard_4_1.html">Dashboard v.4</a></li>
                    <li><a href="dashboard_5.html">Dashboard v.5 </a></li>
                </ul>
            </li> -->
        </ul> 
    </div>
    <div style="background-color: #171f2a!important; margin-top: 200%; position: relative; display: flexbox;" class="footer">
        <!-- <p>
            Web.Hacka 2019
        </p> -->
    </div>
</nav>